<html>
 <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <title>retrieve</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }
        
        li {
            float: left;
        }
        
        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        li a:hover {
            background-color: #111;
        }
    </style>


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script></head><body bgcolor="#FFFFFF">
    <ul>
        <li><a class="active" href="insert.html">Create</a></li>
        </div>
        <li><a href="retrieve.html">Retrieve</a></li>
        <li><a href="update.html">update</a></li>
        <li><a href="delete.html">Delete</a></li>
        <li><a href="deleteselected.html">Delete Selected</a></li>
    </ul><br><br><br><br>
    <div   ng-app="myApp" ng-controller="ctrl3">
    <br><br><br><br>
    <div align="center">
        <div style="width:300px; border: solid 1px #333333; " align="left">
            <div style="background-color:#333333; color:#FFFFFF; padding:3px;"><b>retrieve</b></div>

            <div style="margin:30px">

                <form>
                    <input type="button" value="Get Records" ng-click="myFunc()"/>
                </form>

                
            </div>
                                


        </div>

    </div><br><br>
        <div>
            <table width="70%" align="center" height="60%" >
    <tr ng-repeat="x in records" bgcolor="skyblue">
        <th>Name</th>
        <td>Email</th>
        <th>Mobile</th>
        <th>City</th>
        <th>Pincode</th>
        <th>Delete</th></tr>

    <tr ng-repeat="x in names" bgcolor="grey">
        <td>{{x.name}}</td>
        <td>{{x.email}}</td>
        <td>{{x.mob}}</td>
        <td>{{x.city}}</td>
        <td>{{x.pincode}}</td>
            <td>    <input type="button" value="delete" ng-click="delete(x.name)"/></td></tr>
                
</table>
</div>
    </div>

    <script>
                          var app = angular.module('myApp', []); 
                          app.controller('ctrl3', function ($scope, $http) {
                              
                              $scope.delete = function(name) {
                                   var res = { 
                                  method: 'POST',
                                  url: 'http://localhost:3000/delete', 
                   headers: { 'Content-Type': 'Application/json' },
                   data: {
                          name: name, 
                         }
                              }
                          
                                  $http(res)
                                  .then(function() { $scope.myFunc() });
                                  //setTimeout($scope.myFunc,1500);
                                      
                         }
                              
                              $scope.myFunc = function() {
                           $scope.records = [
    {
      "Name" : "Name",
      "Email" : "Email",
        "Mobile":"Mobile",
        "City": "city",
        "Pincode":"Pincode",
        "delete":"Delete"
    }]
                                  var name=$scope.name;
                              var req = { 
                                  method: 'POST',
                                  url: 'http://localhost:3000/entiredata', 
                   headers: { 'Content-Type': 'Application/json' },
                   data: {
                          name: name, 
                         }
                              }
                          
                                  $http(req)
                          .then(function (response) {
                          $scope.names = response.data;
                                      
                                      
                         });
                                  };
                                  
        
        });
        </script>
<br><br><br><br><br><br><br><br><br><br>
    <footer>&copy;All Rights Reserved by Doddi Srikanth
</footer>

            </body>
                </html>
