<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <title>retrieve</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }
        
        li {
            float: left;
        }
        
        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        li a:hover {
            background-color: #111;
        }
    </style>


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script></head><body bgcolor="#FFFFFF">
    <ul>
        <li><a class="active" href="insert.html">Create</a></li>
        </div>
        <li><a href="retrieve.html">Retrieve</a></li>
        <li><a href="update.html">update</a></li>
        <li><a href="delete.html">Delete</a></li>
        <li><a href="deleteselected.html">Delete Selected</a></li>
    </ul><br><br><br><br>
    <br><br><br><br>
    <div align="center"  ng-app="myApp" ng-controller="ctrl1">
        <div style="width:300px; border: solid 1px #333333; " align="left">
            <div style="background-color:#333333; color:#FFFFFF; padding:3px;"><b>delete</b></div>

            <div style="margin:30px">

                <form>
                    <label>Name  &nbsp;&nbsp;&nbsp;:</label><input ng-model="name" class="box" /><br /><br />
                    <input type="button" value="OK" ng-click="myFunc()"/>
                </form>
                
                
                <p>{{ names }}</p>
            </div>

        </div>

    </div>


    <script>
                          var app = angular.module('myApp', []); 
                          app.controller('ctrl1', function ($scope, $http) {
                              $scope.myFunc = function() {
                                  alert("do you want to delete?");
                          var name=$scope.name;
                              var req = { 
                                  method: 'POST',
                                  url: 'http://localhost:3000/delete', 
                   headers: { 'Content-Type': 'Application/json' },
                   data: {
                          name: name, 
                         }
                              }
                          
                                  $http(req)
                          .then(function (response) {
                          $scope.names = response.data;
                                      alert($scope.names);
                         });
                                  };
                                  
                  });
        </script>

<br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
    <footer>&copy;All Rights Reserved by Doddi Srikanth
</footer>

            </body>
                </html>
