<html><head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <title>insert</title>
   

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script></head>
<body bgcolor="#FFFFFF">
     <ul>
        <li><a class="active" href="insert.html">Create</a></li>
        </div>
        <li><a href="retrieve.html">Retrieve</a></li>
        <li><a href="update.html">update</a></li>
        <li><a href="delete.html">Delete</a></li>
        <li><a href="deleteselected.html">Delete Selected</a></li>
    </ul><br><br><br><br><br><br><br><br>
  
    <br><br><br><br>
    <div align="center"  ng-app="myApp" ng-controller="ctrl">
        <div style="width:300px; border: solid 1px #333333; " align="left">
            <div style="background-color:#333333; color:#FFFFFF; padding:3px;"><b>Create</b></div>

            <div style="margin:30px">

                <form>
                    <label>Book Name  &nbsp;&nbsp;&nbsp;:</label><input ng-model="name" class="box" /><br /><br />
                    <label>Book Id  &nbsp;&nbsp;&nbsp;:</label><input ng-model="id" class="box" /><br/><br />
                    <label>Book Cost  &nbsp;:</label><input ng-model="cost" class="box" /><br /><br />
                    <label>Publisher  &nbsp;:</label><input ng-model="pub" class="box" /><br /><br />
                    <input type="button" value="OK" ng-click="myFunc()"/>
                </form>
                
                
                <p>{{ names }}</p>
            </div>

        </div>

    </div>


    <script>
                          var app = angular.module('myApp', []); 
                          app.controller('ctrl', function ($scope, $http) {
                              $scope.myFunc = function() {
                                  alert("Do you want to insert ?");
                          var name=$scope.name;
                          var id=$scope.id;
                          var cost=$scope.cost;
                         var pub=$scope.pub;
                         
                              var req = { 
                                  method: 'POST',
                                  url: 'http://localhost:3000/data', 
                   headers: { 'Content-Type': 'Application/json' },
                   data: {
                          name: name, 
                          id:id,
                          cost:cost,
                        pub:pub
                          
                         }
                              }
                          
                                  $http(req)
                          .then(function (response) {
                          $scope.names = response.data;
                                      alert($scope.names);
                         });
                                  };
                                  
                  });
        </script>



            </body>
                </html>
