<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <title>retrieve</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }
        
        li {
            float: left;
        }
        
        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        li a:hover {
            background-color: #111;
        }
    </style>


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script></head>
<body bgcolor="#FFFFFF">
     <ul>
        <li><a class="active" href="insert.html">Create</a></li>
        </div>
        <li><a href="retrieve.html">Retrieve</a></li>
        <li><a href="update.html">update</a></li>
        <li><a href="delete.html">Delete</a></li>
        <li><a href="deleteselected.html">Delete Selected</a></li>
    </ul><br><div ng-app="myApp" ng-controller="ctrl3">
        <br><br><br><br>
        <div align="center">
            <div style="width:300px; border: solid 1px #333333; " align="left">
                <div style="background-color:#333333; color:#FFFFFF; padding:3px;"><b>retrieve</b></div>

                <div style="margin:30px">

                    <form >
                        <label>Name  &nbsp;&nbsp;&nbsp;:</label><input ng-model="name" class="box" /><br /><br />
                        <input type="button" value="OK" ng-click="myFunc()" />
                    </form>


                </div>



            </div>

        </div><br><br><br><br><br>
          <div align="center">
        <div style="width:300px; border: solid 1px #333333; " align="left">
            <div style="background-color:#333333; color:#FFFFFF; padding:3px;"><b>update</b></div>

            <div style="margin:30px">

    <label>Name  &nbsp;&nbsp;&nbsp;:</label><input ng-model="name1" class="box" /><br /><br />
                    <label>Email  &nbsp;&nbsp;&nbsp;:</label><input ng-model="email" class="box" /><br/><br />
                    <label>Mobile  &nbsp;:</label><input ng-model="mob" class="box" /><br /><br />
                    <label>City &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</label><input ng-model="city" class="box" /><br/><br />
                    <label>Pincode  :</label><input ng-model="pincode" class="box" /><br/><br />
                     <input type="button" value="update" ng-click="myFunc1()" />
                

    </form>

            </div>

        </div>

    </div>


    <script>
        var app = angular.module('myApp', []);
        app.controller('ctrl3', function($scope, $http) {
             $scope.myFunc1 = function() {
                alert("do you want to update?");
                var name = $scope.name;
                var email = $scope.email;
                var mob = $scope.mob;
                var city = $scope.city;
                var pincode = $scope.pincode;
                var req = {
                    method: 'POST',
                    url: 'http://localhost:3000/update',
                    headers: {
                        'Content-Type': 'Application/json'
                    },
                    data: {
                        name: name,
                        email: email,
                        mob: mob,
                        city: city,
                        pincode: pincode
                    }
                }

                $http(req)
                    .then(function(response) {
                        $scope.na = response.data;
                                      alert($scope.na);

                    });
            };
           

            $scope.myFunc = function() {
                alert("do you want to retrieve?");
                $scope.records = [{
                    "Name": "Name",
                    "Email": "Email",
                    "Mobile": "Mobile",
                    "City": "city",
                    "Pincode": "Pincode"
                }]
                var name = $scope.name;
                var req = {
                    method: 'POST',
                    url: 'http://localhost:3000/retrieve',
                    headers: {
                        'Content-Type': 'Application/json'
                    },
                    data: {
                        name: name,
                    }
                }

                $http(req)
                    .then(function(response) {

                        $scope.name1 = response.data[0].name;

                        $scope.email = response.data[0].email;

                        $scope.city = response.data[0].city;

                        $scope.pincode = response.data[0].pincode;


                        $scope.mob = response.data[0].mob;

                        


                    });
            };

        });

    </script>

    <footer>&copy;All Rights Reserved by Doddi Srikanth
</footer>

</body>

</html>
